* {
  box-sizing: border-box;
  font-family: var(--Manrope)
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--data-blue);
  border-radius: 16px;
  color: var(--text-black);
  width: 100%;
  height: 97vh;
}

.startPage {
  width: 500px;
  height: 300px;
  background-color: var(--cool-gray);
  border: 3px solid var(--signa-red);
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.test {
  display: flex;
  gap: 10px;
  padding-left: 55px;
}

@media (max-width: 780px) {
  .startPage {
    width: 315px;
  }
}